@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Roboto', sans-serif;
    @apply selection:bg-primary-purple selection:text-white
  }
}

@layer utilities {
  .bg-1pbw {
    background-image: url(/assets/images/bg-01.png);
    background-size: cover;
    background-position: center;
  }
  .checklist {
    @apply relative;
  }
  .checklist::before {
    content: '';
    background-image: url(/assets/icons/check-icon.svg);
    @apply absolute top-1/2 -translate-y-1/2 bg-contain -left-6 h-4 w-4
  }
}

@layer components {
  .navbar {
    @apply 
      fixed top-0 inset-x-0 z-40 transition duration-300
  }
  .nav-items {
    @apply 
      absolute md:static top-0 -right-full 
      flex flex-col md:flex-row 
      items-center 
      justify-start md:justify-end 
      pt-24 md:pt-0 px-14 w-2/3 gap-12 
      bg-white md:bg-transparent h-screen md:h-auto
      transition-all duration-300
  }

  .nav-items.open {
    @apply !right-0 
  }

  .nav-link {
    @apply 
      font-medium text-lg 
      text-primary-purple hover:text-secondary-purple 
      md:text-white md:hover:text-white/90
  }

  .form-label {
    @apply
      block  ml-2 mb-3
      text-base md:text-lg tracking-wide 
      font-medium opacity-60 
  }
  .form-input {
    @apply 
      rounded-full 
      px-8 py-3
      ring-2 ring-black/10
      focus:ring-4 focus:ring-primary-purple/10
      text-base md:text-lg outline-none transition
  }

  .btn {
    @apply 
      flex items-center gap-3
      px-6 py-3 rounded-full 
      font-medium transition-all
      hover:brightness-105
      hover:shadow-lg
  }

  .btn-yellow {
    @apply 
      bg-yellow-300 text-primary-purple 
      hover:shadow-yellow-300/50
  }

  .btn-purple {
    @apply 
      bg-primary-purple text-white
      hover:shadow-primary-purple/20
  }

  .btn-play {
    @apply 
      absolute-center
      bg-red-600 hover:bg-red-500 
      rounded-full p-5 
      hover:scale-110 transition
  }

  .absolute-center {
    @apply 
      absolute 
      top-1/2 left-1/2 
      -translate-y-1/2 -translate-x-1/2 
  }

  .visit-demo {
    @apply 
      absolute bottom-0 inset-x-0 
      bg-primary-purple 
      text-white font-bold 
      py-3 text-xl uppercase 
      translate-y-20 group-hover:translate-y-0 
      transition duration-500
  }

  

  /* Section */
  #home {
    @apply 
      flex
      bg-black text-white 
      pt-24 md:pt-36 min-h-screen overflow-hidden
  }
  .home-container {
    @apply 
      container 
      relative z-10 
      flex flex-col items-center justify-center
      text-center 
      px-5 sm:px-20 md:px-28 lg:px-40
  }
  .title {
    @apply 
      text-2xl sm:text-3xl md:text-4xl lg:text-[55px] 
      mt-2 md:mt-0
      font-semibold tracking-wide whitespace-nowrap
  }

  #about {
    @apply 
      container 
      flex flex-col items-center 
      text-primary-purple 
      text-center text-lg sm:text-xl md:text-2xl
      py-32 md:py-48 px-5 sm:px-16 md:px-28 lg:px-36 space-y-14
  }

  #services {
    @apply 
      relative 
      flex flex-col 
      items-center justify-center 
      scroll-mt-20 
  }
  .search-services {
    @apply 
      sticky top-20 left-0
      flex justify-center
      py-5 w-full bg-white/80 
      backdrop-blur shadow-sm z-10
  }
  .service-item {
    @apply 
    flex flex-col md:flex-row gap-4
    items-start md:items-center justify-between 
    even:text-primary-purple 
    odd:bg-gray-100 
    text-lg md:text-xl py-5 px-5 md:px-10
  }
  .service-item a {
    @apply text-base md:text-xl
  }
  .service-show-more-less-button {
    @apply 
      flex items-center md:gap-2 
      text-primary-purple text-sm 
      font-medium tracking-widest 
      hover:bg-gray-100 
      rounded px-2 md:px-4 py-1 md:py-2 
      transition
  }

  #article {
    @apply
      container 
      flex flex-col 
      justify-center items-center 
      py-32 md:py-48
  }
  .article-image {
    @apply 
      block rounded-xl 
      hover:shadow-lg 
      hover:shadow-black/20
      overflow-hidden  transition
  }
  .article-title {
    @apply
      text-xl font-bold
      opacity-70 mb-2
      hover:underline 
      decoration-primary-purple 
      line-clamp-2
  }
  .article-subtitle {
    @apply opacity-50 font-medium tracking-wide
  }

  #contact {
    @apply
      flex flex-col justify-center items-center
      py-20 md:py-32 bg-gray-100
      w-full
  }

  #footer {
    @apply 
      flex flex-col 
      justify-center items-center 
      py-16 px-5 
      space-y-3 text-center
  }

  .single-slide-image {
    @apply relative block h-56 w-full rounded-lg overflow-hidden shadow-lg bg-primary-purple
  }

  .single-slide-image img {
    @apply
      h-full w-full
      transition duration-500
      object-cover
  }

  .single-slide-image img:not(:first-child) {
    @apply absolute-center
  }

  .sharethis-container {
    @apply fixed top-24 right-0 translate-x-[82%] z-30 bg-gray-50 border px-4 py-3 rounded rounded-l-full shadow flex items-center gap-4 transition duration-500
  }
  .sharethis-container.open {
    @apply translate-x-0
  }
}